---
title: AngularJS
---

<section>
    <h2> Hands on AngularJS</h2>
    <h2>Eine praktische Einführung</h2>

    <h3>
        <div><a href="https://twitter.com/roobijn" target="_blank">Robin B&ouml;hm</a></div>
    </h3>
</section>

<%= partial 'about_robin' %>
<%= partial 'aboutangularjsde' %>


<section>
    <section>
        <h1>AngularJS</h1>
    </section>
    <%= partial 'trend_comparison' %>
    <!--<%= partial 'quotes' %>-->
    <%= partial 'poll' %>
    <%= partial 'what_is' %>
    <%= partial 'history' %>
    <section>
        <h2>Concepts</h2>
    </section>
    <section>
        <h2>One-Way-Databinding</h2>
        <img src="images/One_Way_Data_Binding.png" alt=""/>
    </section>
    <section>
        <h2>Two-Way-Databinding</h2>
        <img src="images/Two_Way_Data_Binding.png" alt=""/>
    </section>

    <section>
        <h2>Two-Way-Databinding</h2>
        <img src="images/ViewModel.png" alt=""/>
    </section>

    <section>
        <h2>Two-Way-Databinding</h2>
        <img src="images/scope-controller.png" alt=""/>
    </section>

    <!--<section>
        <h2>Two-Way-Databinding</h2>
        <img src="images/concepts-controller.png"  style="border: 0px;background: white" alt=""/>
    </section>-->


    <section>
        <h2>Expressions</h2>
    </section>


    <section>
        <h2>Expressions</h2>
        <ul ng-non-bindable>
            <li>{{ expression }}</li>
            <li>Data-Binding von Objekten auf dem Scope</li>
            <li>Kein eval() aus Javascript</li>
            <li>Filter: {{ 1.44 | toCurrency }}</li>
        </ul>
    </section>







    <!--<section>
        <h2>Boilerplate</h2>
        <ul>
            <li>Deklarative Beschreibung in HTML</li>
            <li>(Möglichst) Keine Manuelle DOM Manipulation</li>
        </ul>
    </section>-->
    <%= partial 'directives' %>




</section>

<section>
    <h2>Brendan Eich</h2>

    <div>
        <img src="images/220px-BEich.jpg"/>
    </div>
    <h2>Expected that impact?</h2>
</section>

<section>
    <h1>Thanks!</h1>
    <img src="images/robin_boehm.png" class="circle"/>

    <p>
        <strong>Robin Böhm</strong>

    <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
</section>
