---
title: Create a Multi-Client Deck
---

<section>
  <h1>Hands on AngularJS</h1>
  <h3> by
    <div><a href="https://twitter.com/roobijn" target="_blank">Robin B&ouml;hm</a></div>
  </h3>
</section>



<%= partial 'about_robin' %>
<%= partial 'aboutangularjsde' %>


<section>
    <h1>AngularJS</h1>
</section>

<section>
    <h1>This deck</h1>
</section>

<section>
    <h1>This deck is...</h1>
</section>

<section>
    <h1>This deck is...</h1>
    <h2>Controllable via Leap-Motion</h2>
    <ul>
        <li>use...</li>
        <li>swipe-left</li>
        <li>swipe-right</li>
        <li>swipe-up</li>
        <li>swipe-down</li>
    </ul>
</section>

<section>
    <h1>This deck is...</h1>
    <h2>Multi-Client Sync via goInstant</h2>
    <ul>
        <li>Open this URL with multiple browsers/devices</li>
    </ul>
</section>



<section>
    <h2>How?</h2>
</section>

<section>
    <h2>Step by Step</h2>
</section>



<%= partial 'directives2leap' %>

<section>
    <h2>Nice...</h2>
    <h3>Now Multi-Client Sync</h3>
</section>

<%= partial 'goAngular' %>

<section>
    <h2>Nice...</h2>
</section>

<section>
    <h2>Mobile via 3G?</h2>
</section>

<section>
    <h2>Extend the Example</h2>
</section>

<%= partial 'poll_leap_goinstant' %>

<section>
    <img src="images/w00t.jpg"/>
</section>


<section>
    <h2>Round about 50 LOC</h2>
    <ul>
        <li>Swipe Events</li>
        <li>Multi-Client Sync</li>
    </ul>
</section>

<section>
    <h2>References</h2>
    <ul>
        <li><a href="http://angularjs.org/">http://angularjs.org/</a></li>
        <li><a href="http://angularjs.de/">http://angularjs.de/</a></li>
        <li><a href="http://angular-leap-instant.herokuapp.com/">http://angular-leap-instant.herokuapp.com/</a></li>
        <li><a href="https://github.com/hakimel/reveal.js/">https://github.com/hakimel/reveal.js/</a></li>
        <li><a href="https://github.com/leapmotion/leapjs/">https://github.com/leapmotion/leapjs/</a></li>
        <li><a href="https://developers.goinstant.com/v1/GoAngular/index.html">https://developers.goinstant.com/v1/GoAngular/index.html</a></li>
    </ul>
</section>

<section>
    <h1>Thanks!</h1>
    <img src="images/robin_boehm.png" class="circle"/>
    <p>
        <strong>Robin Böhm</strong>
    <p><a href="https://twitter.com/roobijn" target="_blank">@roobijn</a></p>
</section>
